.card_bold{
  font-weight: 600;
}
.card_bold_red{
  font-weight: 600;
  color: red;
}
.item_card{
  margin-bottom: 20px !important;
}
backgroud{
  background-color: #f5f5f5;
}
.back_my_arrow{
  padding: 20px;
}