.home_top_head {
  background: #6236ff !important;
  color: #fff !important;
}
.home_top_head h5 {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 600;
  text-align: center;
}

ion-card-header{
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
ion-card-title{
  font-size: 17px;
}
.card_bold{
  font-weight: 600;
}
// .btns{
//   padding-left: 80px;
// }
ion-datetime{
  color: red;
}