.card_bold{
  font-weight: 600;
}
.card_bold_red{
  font-weight: 600;
  color: red;
}
.divv{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}