ion-title{
    text-align: center;
}
.pay{
    text-align: center;
    color: rgb(8, 66, 240);
}
h2{
    text-align: center;
    color:rgb(224, 19, 19);
}
.itrrr{
    color: black;
}
.bol{
    text-decoration-color: black;
    
}

